

body{
     padding    : 0;
     margin     : 0;
     font-family: Helvetica;
}

h2{
    font-family:fantasy;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
     font-style: italic;
    text-align: center;
    color: #333;
}

h2:hover{
    color: wheat;
}

#header{
      position: fixed;
      top     : 0;
      left    : 0;
      z-index : 500;
      width   :100%;
      height  :80px;
      background-image  : url('images/DotsA.gif');
      background-repeat: repeat-x;
}

#header img{
      display: block;
      margin : auto;
      height : 70%;
      padding-top: 15px; 
}

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    top     : 80px;
      left    : 0;
      z-index : 500;
      width   : 100%;
      height  : 40px;
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
          display : block;
      width   : 22%;
      height  :35px;
      font-weight : 700;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

#main-home{
       margin-top: 120px;
}

/* Add a black background color to the top navigation */
.topnav-bottom {
    position: fixed;
    bottom     : 0px;
    left    : 0;
      z-index : 500;
      width   : 100%;
      height  : 40px;
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav-bottom a {
  float: left;
    display : block;
     width   : 40%;
      height  : 40px;
      font-weight : 700;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav-bottom a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav-bottom a.active {
  background-color: #4CAF50;
  color: white;
}
#main{
    margin-top: 119px;
    
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    height: 100%;
}

body {
    background-image: url(images/map-blur.jpg);
}


#content{
    padding-top: 1px;
    padding-bottom: 50px;
}

a.info-box{
      text-decoration : none;
      background      : rgba(220 ,215, 250, 0.6);
      width           : 90%;
      height          : 90px;
      display         : block;
      margin          : auto;
      margin-top      : 12px;
      padding         : 1px; 
}

.info-box img{
      height : 70px;
      margin : 10px;
      float  : left;
}

.info-box img.right{
      float      : right;
      margin-top : 25px;
      height :    40px;
}

.info-box h3{
      padding : 0;
      margin-bottom :0;
      width : 90%;
      color : #572800;
}

.info-box p{
      margin  : 0;
      padding : 0;
      width   : 90%;
      color   : 131313;
}


#info-box-full{
      background-color : rgba(255, 255, 255, .8) ;
      width   : 90%;
      display : block;
      margin  : auto;
      margin-top : 12px;
      padding    : 10px;
}

a.info-box-full{
      background-color : rgba(255, 255, 255, .8) ;
      width   : 90%;
      display : block;
      margin  : auto;
      margin-top : 12px;
      padding    : 10px;
}

#info-box-full img{
      width : 40%;
    padding-left: 25px;
    padding-top: 25px;
}

a.info-box-full h3{
      text-align : center;
}


#info-box-full h3{
      text-align : center;
}

input{
      width: 100%;
      height: 25px;
      margin : 12px 0;
      border : 1px solid #929292;
}

textarea{
      width: 100%;
      height :25px;
      margin : 12px 0;
      border : 1px solid #929292;
}

.button{
      display : block;
      background-color: forestgreen;
      text-decoration : none;
      text-align  : center;
      color       : white;
      font-size   : 16px;
      font-weight : 600;
      margin : 12px 0;
      padding : 8px 0;
}



img.info-box-weather-icon{
     height : 30px;
     width  : 30px;
     margin : 10px;
     float  :left; 
}

h1.info-box-weather-icon{
     font-size  : 65px;
     font-weight: 200;
     padding    : 0;
     margin     : 0;
}


table{
    width: 100%
}

td{
    border-top: 1px solid #131313;
}
















